@import "_functions";
@import "_mixins";
@import "_variables";

.site-alert--header, .site-alert--footer {
  border: 1px solid #636466;
  width: 100vw;

  .expand__wrapp {
    width: 100%;

    .btn.expand__button {

      &.expanded {
        &:after {
          transform: unset;
        }
      }
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url("data:image/svg+xml;base64,PHN2ZyAgZmlsbD0id2hpdGUiIGlkPSJfMS1BcnJvd19VcCIgZGF0YS1uYW1lPSIxLUFycm93IFVwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHRpdGxlPjEtQXJyb3cgVXA8L3RpdGxlPjxwYXRoIGQ9Ik0yNi43MSwxMC4yOWwtMTAtMTBhMSwxLDAsMCwwLTEuNDEsMGwtMTAsMTAsMS40MSwxLjQxTDE1LDMuNDFWMzJoMlYzLjQxbDguMjksOC4yOVoiLz48L3N2Zz4K");
        transform: rotate(180deg);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .site-alert__dismiss {
      position: absolute;
      right: 10px;
      top: -10px;
    }
  }
}

.header-alerts-list, .footer-alerts-list  {
  .site-alert--header  {
    div[role=article] {
      height: inherit !important;
    }
  }

  .slick__arrow {
    visibility: visible;
  }
  .site-alert__icon {
    width: fit-content;
    left: 15px;
  }
}

.slick-next:before,
.slick-prev:before {
  opacity: 1;
}

.header-alerts-list .slick__arrow,
.footer-alerts-list .slick__arrow {
  margin-top: -25px;
}
